/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: rgba(220, 144, 209, 0.75);
  padding: 20px;
  border-radius: 5px;
  width: 50%;
  max-width: 300px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-size: x-large;
  color: white;
}

.modal-close {
  position: absolute;
  color: white;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: none;
}
